<div>
    <h2>{{employee.firstName | uppercase}} Details</h2>
    <div><span>id: </span>{{employee.id}}</div>
    <div >
      <label>First name:
        <input value="{{employee.firstName}}" placeholder="first-name"/>
      </label>
      <label>Last Name:
          <input value="{{employee.lastName}}" placeholder="last-name"/>
      </label>
      <label>Salary:
          <input value="{{employee.salary}}" placeholder="salary"/>
      </label>
      <label>Address:
          <input value="{{employee.address}}" placeholder="address"/>
      </label>
    </div>
</div>